*.dae filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.mesh filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.ply filter=lfs diff=lfs merge=lfs -text
*.bag filter=lfs diff=lfs merge=lfs -text
*.mcap filter=lfs diff=lfs merge=lfs -text
src/calib_lab/bus_real_data/models/beintelli_bus/meshes/obj/beintelli_erklarbus.obj filter=lfs diff=lfs merge=lfs -text
src/calib_lab/bus_real_data/models/beintelli_bus/meshes/dae/beintelli_erklarbus.dae filter=lfs diff=lfs merge=lfs -text
src/calib_lab/bus_real_data/models/beintelli_bus/meshes/obj/beintelli_erklarbus.stl filter=lfs diff=lfs merge=lfs -text
src/calib_lab/bus_real_data/models/beintelli_bus/meshes/beintelli_erklarbus.glb filter=lfs diff=lfs merge=lfs -text
src/calib_lab/bus_real_data/models/beintelli_bus/meshes/gltf/scene.bin filter=lfs diff=lfs merge=lfs -text
